@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DataBase Programming - Project 3</h1>
    <p class="lead">This is the final DBP project</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this project about</h2>
        <p>
            The project creates an Website usin the Books database and CRUD features for the tables
        </p>
    </div>
    
</div>